@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--jetBrains-mono);
  overflow-x: hidden;
}
.ant-menu {
  background: none;
}
/* #image-brand {
  background-image: url("/brand.png");
} */
.svg-product {
  background-image: url("/product.svg");
}

@media screen and (max-width: 480px) {
  #header {
    background-size: 100%;
  }
}
